.item-card-container {
    color: white;
    margin: 1em;
    background: #28282B;
    border-radius: 0.6em;
    padding: 0.5em;
    text-align: center;
    word-wrap: break-word;
}

.item-card-container > *:hover, .item-card-container > *:link, .item-card-container > *:visited, .item-card-container > *:active {
    text-decoration: none;
    color: white;
}

.card-image{
    width: 100%;
    height: 150px;
    border-radius: 0.5em;
    object-fit: cover;
    margin-bottom: 0.5em;
}